<a href="https://colab.research.google.com/github/Gulayrose/python-workout/blob/main/Copy_of_Nov_11_ders_and_self_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup1=(1,3,4,5,6,7)
for i in tup1:
   print(i)

1
3
4
5
6
7

In [ ]:
liste= [[1,2,5],[3,4,6]]
for x,y,z in liste:
   print(x)

1
3

In [ ]:
  print(x,y)

3 4

In [ ]:
seasons = ['fall','summer','vinter','spring']
for season in seasons :
  print(season)

fall
summer
vinter
spring

In [ ]:
names = ["Ahmet","Aisha","Adam","Joseph","Gabrial"]
for i in names :
   print( 'Hello {}. '.format(i))

Hello Ahmet.
Hello Aisha.
Hello Adam.
Hello Joseph.
Hello Gabrial.

In [ ]:
print("hello",i) #yukardaki soruyu bu sekilde de yazabiliriz

hello Gabrial

In [ ]:
liste = []
for i in range(1,6) :
  liste.append(i)
print(liste)

[1, 2, 3, 4, 5]

In [ ]:
sayi =[]
liste = range(6)
for i in liste:
   sayi.append(i)  
print(sayi)

[0, 1, 2, 3, 4, 5]

In [ ]:
corse = 'clarusway'
for i in corse :
   print(i)

c
l
a
r
u
s
w
a
y

In [ ]:
idda = 'Clarusway'
for i in idda :
   print(i, end= '-')

C-l-a-r-u-s-w-a-y-

In [ ]:
text = 'hicbirsey'
count= 0 
for i in text :
  count +=1
  if count < len(text) :
    i+= "-"
  print(i, end = "")

h-i-c-b-i-r-s-e-y

In [ ]:
soz = input("give me a word : ")
counter = 0
for i in soz :
   counter += 1
   if counter < len(soz) :
     i= i + "-"
   print(i, end= "")

give me a word : cok bilmis
c-o-k- -b-i-l-m-i-s

In [ ]:
user = {
   'name' : 'Danial'
   'surname' : 'Smith'
   'age': 35
}
      for attribe in user :
         print(attribe)

SyntaxError: ignored

In [ ]:
test = [(1,2), (3,4),(5,6)]
for i ,j in test :
   print(i,j)
   print(type(test))

1 2
<class 'list'>
3 4
<class 'list'>
5 6
<class 'list'>

In [ ]:
lafsoz = int(input("1 den 10 a kadar bir sayi giriniz :"))
for i in range (11) :
    print('{} x {} = ' .format(lafsoz, i), lafsoz *i)

1 den 10 a kadar bir sayi giriniz :6
6 x 0 =  0
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60

In [ ]:
for i in range(1,10) :
   print(str(i) * i )

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(range(5,25,2))

range(5, 25, 2)

In [ ]:
print(*range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [ ]:
print(*"clarusway" , sep="-")

c-l-a-r-u-s-w-a-y

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
	print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
zipped = zip(text , numbers)
print(zipped)

<zip object at 0x7f2ee4aef550>

In [ ]:
print(*zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [ ]:
zipped = zip(text , numbers)
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
zipped = zip(text , numbers)
dict(zipped)

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [ ]:
evens = []
odds= []
liste = [0,1,2,3,4,5,6,7,8,9]

for i in liste :
   if i % 2 == 0 :
     print( 'evens= {}'.format (liste))
   else :
     print('odds = {}'.format(liste))

evens= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
evens= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
evens= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
evens= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
evens= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
odds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
evens = []
odds = []
for n in range (10):
   if n % 2 == 0 :
     evens.append(n)
   else :
     odds.append(n)
print("evens : ", evens) 
print("odds : ", odds)

evens :  [0, 2, 4, 6, 8]
odds :  [1, 3, 5, 7, 9]

In [ ]:
numbers = (11,36,33,66,89,21,32,16,10)
odds = 0
evens = 0
for i in numbers :
   if i % 2 == 0 :
     evens += 1 
   else :
      odds += 1
print("evens count :", evens)
print("odds count :",odds)

evens count : 5
odds count : 4