<a href="https://colab.research.google.com/github/Gulayrose/python-workout/blob/main/nov_29_ders%2Bself.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [4, 5, 2, 1]
my_list.sort()
print(my_list)

[1, 2, 4, 5]

In [36]:
list=range(1,11)
print(list)

range(1, 11)

In [13]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

In [24]:
print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [27]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {},two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose,two favorite colors are blue and green.

In [30]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format(escapes[0],escapes[2][1])
print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
I am 40 years old.
    I have two children.
        Data Science is my IT domain.

In [45]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for i in sample_list:
     print('The type of {}'.format(i),"is",type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [54]:
def my_function(a,b):
    return a*b
print(my_function(3,5))

15

In [53]:
def my_function(a , b):
  hypotenuse = (a**2 + b**2)**0.5
  return hypotenuse
my_function(3,4)

5.0

In [55]:
def my_function(a,b):
    area = a*b
    return area
my_function(3,4)

12

In [57]:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [58]:
def who(first, last) : 
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Marry', 'Bold')

Your first name is : Marry
Your last name is : Bold

In [68]:
def brothers(bro1,bro2,bro3):
    print("here are name of the  brothers .")
    print(bro1,bro2,bro3 ,sep="\n")
family=['martin','joe','leila'] 
brothers(*family)

here are name of the  brothers .
martin
joe
leila

In [64]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [69]:
print((lambda x:x**2)(2))

4

In [70]:
(lambda x : 'odd' if x % 2 != 0 else 'even')(3)

'odd'

In [72]:
(lambda x : x[::-1])('ali')

'ila'

In [73]:
(lambda x : [*reversed(x)])('ali')

['i', 'l', 'a']

In [74]:
(lambda a,b :(a+b)/2)(2,3)

2.5

In [75]:
average = (lambda a,b :(a+b)/2)(2,3)
print(average)

2.5

In [81]:
sayilar=[1,2,3,4,5,6]
for a in sayilar :
  print(a,':',(lambda x : 'odd' if x % 2!=0 else 'even')(a))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [82]:
average = lambda x,y : (x+y)/2
print(average(3,5))

4.0

In [83]:
finder = lambda x : 'odd' if x % 2!=0 else 'even'
print(finder(5))

odd

In [87]:
sonuc= (map(lambda x : x**2,[1,2,3]))
print(*sonuc)

1 4 9

In [88]:
fonksiyon = lambda x: x** 2
iterable = [1,2,3]
sonuc=map(fonksiyon,iterable)
print(*sonuc)

1 4 9

In [94]:
iterable = [1,2,3]
def kare(b):
  return b ** 2
sonuc2 = map(kare,iterable) 
print(sonuc2)

<map object at 0x7fc259d06510>

In [1]:
letter1 = ['o','s','t','t']
letter2 = ['n','i','e','w']
letter3 = ['e','x','n','o']
numbers = map(lambda x,y,z :x+y+z , letter1,letter2,letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [2]:
num1 = [9,6,7,4]
num2 = [3,6,5,8]
fonk = lambda x,y : (x+y) / 2
numbers = map(fonk,num1,num2)
print(list(numbers)) #iki listenin de indexlerinin ortalamasini aldik

[6.0, 6.0, 6.0, 6.0]

In [9]:
words1 = ['you','much','hard']
words2 = ['i','you','he']
words3 = ['love','ate','works']
fonksiyon = lambda x,y,z : x +' '+y+' '+z
kelime = map(fonksiyon,words2,words3,words1)
print(*kelime , sep = '\n')

i love you
you ate much
he works hard

In [10]:
words = ['apple','swim','clock','me','kiwi','banana']
fonk = lambda x : len(x) < 5
cum = filter(fonk,words)
print(list(cum))

['swim', 'me', 'kiwi']

In [12]:
words = ['apple','swim','clock','me','kiwi','banana']
for i in filter(lambda x :len(x) < 5,words):
   print(i)

swim
me
kiwi

In [14]:
#listenin icindeki sesli harfleri yazdirma
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
print(list(filter(lambda x : x in vowel_list, first_ten)))

['a', 'e', 'i']

In [20]:
def modular_function(n):
  return lambda x : x ** n
power_of_2 = modular_function(2)  
power_of_3 = modular_function(3)  
power_of_4 = modular_function(4)  
print(power_of_2(2))
print(power_of_3(2))
print(power_of_4(2))

4
8
16

In [ ]:
def repeater (n):
  return lambda x : x * n
repeat_2

In [ ]:
def functioner (emoji):
  n = (':)',':(',':|')
  return lambda x : x + n

In [23]:
(lambda x : print(x,":)"))('ali')

ali :)

In [24]:
def functioner(emoji):
  return lambda x : print(x,emoji)

In [26]:
myPrint_smile=functioner(":)")
myPrint_sad = functioner(":(")
myPrint_neutral= functioner(":|")

In [27]:
myPrint_smile("hello")
myPrint_sad("hello")
myPrint_neutral("hello")

hello :)
hello :(
hello :|

In [31]:
def function_generator(function_name) :
  return (lambda x : function _name(x)