<a href="https://colab.research.google.com/github/Gulayrose/python-workout/blob/main/Untitled29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class."

In [3]:
pwd

'/content'

# New Section

In [11]:
file = open("fishes.txt", "r")
print(file.read())
file.close()

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [10]:
file = open("fishes.txt","r")
print(file.read(33))
print(file.read(33))
file.close()

Orca is a kind of Dolphin.
Blue W
hale is the largest animal known

In [13]:
file = open("fishes.txt","r")
print(file.read(33))
print(file.read(33))
file.seek(0)# bu imleci basa alir yani devamini degil sanki bastanmis gibiu yazdirir.
print(file.read(33))
file.close()

Orca is a kind of Dolphin.
Blue W
hale is the largest animal known
Orca is a kind of Dolphin.
Blue W

In [14]:
file = open("fishes.txt","r")
print(file.read(33))
print(file.read(33))
file.seek(0) 
print(file.read(33))
print(file.tell())
file.close()

Orca is a kind of Dolphin.
Blue W
hale is the largest animal known
Orca is a kind of Dolphin.
Blue W
33

In [15]:
file = open("fishes.txt","r")
print(file.read(33))
print(file.read(15))
print(file.tell())
file.seek(0) #0 a al dedik 50 yazsaydik 50 den devam ederdi
print(file.read(33))
print(file.tell())
file.close()

Orca is a kind of Dolphin.
Blue W
hale is the lar
48
Orca is a kind of Dolphin.
Blue W
33

In [16]:
rumi = open("Rumi.txt","r")
print(rumi.read())
rumi.close()

I want to sing
Like the birds sing,
Not worrying about
Who hears or
What they think.

In [17]:
rumi = open("Rumi.txt","r")
print(rumi.read(35))
rumi.close()

I want to sing
Like the birds sing,

In [18]:
rumi = open("Rumi.txt","r")
print(rumi.read(35))
print(rumi.read(15))
rumi.close()

I want to sing
Like the birds sing,

Not worrying a

In [19]:
!pwd

/content

In [21]:
rumi = open("Rumi.txt","r")
print(rumi.read(35))
print(rumi.read(13))
print(rumi.tell())
rumi.seek(15)
print(rumi.read(21))
rumi.close()

I want to sing
Like the birds sing,

Not worrying
48
Like the birds sing,

In [23]:
sea= open("fishes.txt","r")
print(sea.readline())
print(sea.readline())
sea.close()

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

In [24]:
sea= open("fishes.txt","r")
print(sea.readline(13)) #1.satirda ilk 13 u okur asagi iner
print(sea.readline(13))
print(sea.readline(13)) #\n satir baslangic imleci bunu da bosluk olarak algilar
print(sea.readline(13))#araya bosluk gelir ve ikinici satir in ilk 13 u gelir

sea.close()

Orca is a kin
d of Dolphin.


Blue Whale is

In [29]:
rumi = open("Rumi.txt","r")
print(rumi.readline())
print(rumi.readline())
print(rumi.readline(20))
rumi.close()

I want to sing

Like the birds sing,

Not worrying about

In [30]:
sea = open("fishes.txt","r")
print(sea.readlines())
sea.close()

['Orca is a kind of Dolphin.\n', 'Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [31]:
with open('fishes.txt',"r") as sea :
   fish = sea.readlines()

In [32]:
fish

['Orca is a kind of Dolphin.\n',
 'Blue Whale is the largest animal known on earth.\n',
 'Sharks are the sister group to the Rays (batoids).\n',
 'The Tuna Fish can weigh up to 260 kg.\n',
 'Squid and Octopus are in the same class.']

In [34]:
type(fish)

list

In [40]:
with open("Rumi.txt","r") as file:
  for line in file:
    print(line)

I want to sing

Like the birds sing,

Not worrying about

Who hears or

What they think.

In [35]:
with open("Rumi.txt","r") as file :
  rumi = file.readlines()

In [36]:
rumi

['I want to sing\n',
 'Like the birds sing,\n',
 'Not worrying about\n',
 'Who hears or\n',
 'What they think.']

In [37]:
with open("fishes.txt","r") as file:
  for line in file:
    print(line)

Orca is a kind of Dolphin.

Blue Whale is the largest animal known on earth.

Sharks are the sister group to the Rays (batoids).

The Tuna Fish can weigh up to 260 kg.

Squid and Octopus are in the same class.

In [41]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:  
# we create and open the file

    file.write('This is the first line of my text file')  
    # writes str data into file

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the first line of my text file

In [42]:
ls

dummy_file.txt  fishes.txt  Rumi.txt  sample_data/

In [43]:
with open("dummy_file.txt", 'w', encoding="utf-8") as file:
    file.write('This is the new line for my dummy_file')  
    # we write new str data into it 

with open("dummy_file.txt", 'r', encoding="utf-8") as file:
    print(file.read())  # reads the content of the 'dummy_file'

This is the new line for my dummy_file

In [46]:
with open('dummy_file.txt',"w",encoding = "utf-8") as file:
  file.write("My first sentence")
  file.write("My second sentence")
  file.write("My third sentence\n")
  file.write("My fourth sentence")
  file.write("My last sentence")
with open("dummy_file.txt","r",encoding="utf-8") as file :
  print(file.read()) #read the content of teh dummy_file

My first sentenceMy second sentenceMy third sentence
My fourth sentenceMy last sentence

In [47]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']

In [51]:
with open("fruits.txt","w") as dosyam:
  for sepet in fruits :
    dosyam.write(sepet + "\n")
with open("fruits.txt","r") as file  :  
    
      print(file.read())

Banana
Orange
Apple
Strawberry
Cherry

In [ ]:
with open("fruits.txt") as file:
    fruits2 = file.readlines()

In [1]:
fruits2

NameError: ignored

In [61]:
with open("istiklal.txt","r",encoding="utf-8") as file:
  for line in file:
    print(line)

Korkma, sönmez bu şafaklarda yüzen al sancak;

Sönmeden yurdumun üstünde tüten en son ocak.

O benim milletimin yıldızıdır, parlayacak;

O benimdir, o benim milletimindir ancak.

Çatma, kurban olayım, çehreni ey nazlı hilal!

Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?

Sana olmaz dökülen kanlarımız sonra helal...

Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.

Hangi çılgın bana zincir vuracakmış? Şaşarım!

Kükremiş sel gibiyim, bendimi çiğner, aşarım.

Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,

Benim iman dolu göğsüm gibi serhaddim var.

Ulusun, korkma! Nasıl böyle bir imanı boğar,

'Medeniyet!' dediğin tek dişi kalmış canavar?

Arkadaş! Yurduma alçakları uğratma, sakın.

Siper et gövdeni, dursun bu hayasızca akın.

Doğacaktır sana va'dettigi günler hakk'ın...

Kim bilir, belki yarın, belki yarından da yakın.

Bastığın yerleri 'toprak!' diyerek geçme, tanı:

Düşün altında binlerce kefensiz yatanı.

Sen şehit oğlusun, incitme, yazıktır, atanı:

Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?

Şuheda fışkıracak toprağı sıksan, şuheda!

Canı, cananı, bütün varımı alsın da hüda,

Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:

Değmesin mabedimin göğsüne namahrem eli.

Bu ezanlar-ki şahadetleri dinin temeli,

Ebedi yurdumun üstünde benim inlemeli.

In [ ]:
#mars = open("istiklal.txt","r")
#print(mars.readlines(4))
                     
#mars.close()

In [ ]:
with open("istikklal.txt","r",encoding="utf-8") as file :
  lines = file.readlines()

In [ ]:
lines

In [7]:
counter = 0
with open("istiklal.txt","w",encoding="utf-8") as file :
  for i in lines :
    counter +=1
    if counter %4 == 0:
      file.write(i + "\n")

    else :
      file.write(i)
with open("istiklal.txt","r",encoding="utf-8") as f :
  print(f.read())

NameError: ignored